<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Servicio clientes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarScroll"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenu"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-user"></i> Bienvenido
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
            <li>
              <a routerLink="/configuracion" class="dropdown-item">
                <i class="fas fa-cog"></i> Configuración
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a routerLink="/" class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i> Salir
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
