<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a routerLink="/" class="navbar-brand">Servicio clientes</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarScroll"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto">
        <li *ngIf="isLoggedIn" class="nav-item">
          <a routerLink="/" class="nav-link" routerLinkActive="router-link-active">
            <i class="fas fa-home"></i> Inicio
          </a>
        </li>
        <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
          <a routerLink="/login" class="nav-link" routerLinkActive="router-link-active">
            <i class="fas fa-sign-in-alt"></i> Login
          </a>
        </li>
        <li *ngIf="!isLoggedIn && permitirRegistro" class="nav-item">
          <a routerLink="/registrarse" class="nav-link" routerLinkActive="router-link-active">
            <i class="fas fa-user-circle"></i> Registrarse
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenu"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fa fa-user"></i> Hola, {{ loggedInUser }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
            <li *ngIf="isLoggedIn" class="nav-item">
              <a
                style="cursor: pointer"
                (click)="logout()"
                class="dropdown-item"
              >
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li *ngIf="isLoggedIn" class="nav-item">
              <a routerLink="/configuracion" class="dropdown-item">
                <i class="fas fa-cog"></i> Configuración
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
